# API keys and secrets
.env

# Dependency directory
node_modules

# # Ignore built ts files
dist

# # ignore vscode settings
.vscode
.vs
media/*
tmp/*
config/*.json
nostrcheck-api.log*
.VSCodeCounter/*
installation.md
coverage/*

# Docker compose volumes
compose.override.yml
data/


