# API keys and secrets
.env

# Dependency directory
node_modules

# # Ignore built ts files
dist

# # ignore vscode settings
.vscode
.vs

logs/*
media/*
files/*
tmp/*
config/local.json*
nostrcheck-api.log*
.VSCodeCounter/*
installation.md
coverage/*
models/*
env/*

# Docker compose volumes
compose.override.yml
data/

# Ignore logs
logs/*
debug.log

# Ignore csv files
*.csv


# Ignore Python virtual environment
.venv/

# Ignore tenants folder
src/pages/static/resources/tenants/*

profiles/*
