<div class="mt-2 d-flex flex-column align-items-center">
    <div class="row d-flex w-100">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 mb-4" style="height:450px;">
            <div class="w-100 h-100 default-bg rounded d-flex me-2 p-3 shadow-sm ">
                <%- include('./monthchart', {
                    chartId: chartId,
                    datakey: datakey,
                    monthField: monthField,
                    monthName: monthName,
                }); %>
            </div>  
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12" style="height:450px;">
            <div class="w-100 h-100 default-bg rounded d-flex me-2 p-3 shadow-sm ">
                <%- include('./doughnutchart', {
                    type: 'pie',
                    chartId: chartId,
                    datakey: datakey,
                    doughnutField: doughnutField,
                    doughnutName: doughnutName,
                    showTitle:true,
                    showLegend:true,
                    showTooltip:true,
                    externalTooltip: "",
                    }); %>
            </div>  
        </div>
    </div>
</div>