.poster {
  position: relative;
  width: 100%;
  height: 100%;
  background: #111 url("/static/resources/poster-back2.webp") no-repeat top center;
  
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

