html, body { height: 100%;}
main { padding:10px; }

.btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:hover {
  background-color: #2e2f31;
  border-color: #212529;
}

.purple-text {color: #a575ff; }
.cursor-zoom-in { cursor: zoom-in; }

.gradient-text {
  background: linear-gradient(to right, #007BFF, #FF66B2, #FF9933);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}    

.background-style-1 {
  background-image: -webkit-linear-gradient(to top, rgb(151, 149, 240) 0%, rgb(0 0 0) 100%);
  background-image: linear-gradient(to top, rgb(151, 149, 240) 0%, rgb(0 0 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.background-style-2 {
  background: -webkit-linear-gradient(to right, rgb(200 128 179), rgb(130 170 235));
  background: linear-gradient(to right, rgb(200 128 179), rgb(130 170 235));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.background-style-3 {
  background: -webkit-linear-gradient(to right, rgb(143 40 154), rgb(0 0 0) 90%);
  background: linear-gradient(to top, rgb(143 40 154) 0%, rgb(0 0 0) 90%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.default-bg {
    border: 1px solid rgba(0, 0, 0, 0.096);
    background-color: rgba(0, 0, 0, .075);
}