html,
body {
  height: 100%;
  transition: background-color 0.5s ease, color 0.5s ease;
}

main {
  padding:10px;
}

.btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:hover {
  background-color: #212529;
  border-color: #212529;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.dropdown-item.active {
  background-color: #71767c;
  color: #fff;
}

.dropdown-menu {
--bs-dropdown-link-active-bg: #a575ff;
}

.background-style-1 {
  background-image: -webkit-linear-gradient(to top, rgb(151, 149, 240) 0%, rgb(0 0 0) 100%);
  background-image: linear-gradient(to top, rgb(151, 149, 240) 0%, rgb(0 0 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.background-style-2 {
  background: -webkit-linear-gradient(to right, rgb(200 128 179), rgb(130 170 235));
  background: linear-gradient(to right, rgb(200 128 179), rgb(130 170 235));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.background-style-3 {
  background: -webkit-linear-gradient(to right, rgb(143 40 154), rgb(0 0 0) 90%);
  background: linear-gradient(to top, rgb(143 40 154) 0%, rgb(0 0 0) 90%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.gradient-text {
  background: linear-gradient(to right, #007BFF, #FF66B2, #FF9933);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}    

.purple-text {
  color: #9262c2;
}
         
.btn-grad {
  background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}