  th button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    font: inherit;
    height: 100%;
    margin: 0;
    min-width: max-content;
    position: relative;
    width: 100%;
  }
  
  th button::after {
    position: absolute;
    right: 0.5rem;
  }
  
  th button[data-dir="asc"]::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='0, 0 8,0 4,8 8' fill='%23818688'/%3E%3C/svg%3E");
  }
  
  th button[data-dir="desc"]::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='4 0,8 8,0 8' fill='%23818688'/%3E%3C/svg%3E");
  }


.resizer {
    /* Displayed at the right side of column */
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    -webkit-user-select:none;
}

.resizer:hover,
.resizing {
    border-right: 2px solid blue;
}

.table {
    border-collapse: collapse;
}
.table,
.table th,
.table td {
    border: 1px solid #ccc;
}
.table th,
.table td {
    padding: 0.5rem;
}
.table th {
    position: relative;
}
.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    -webkit-user-select:none;
}
.resizer:hover,
.resizing {
    border-right: 2px solid blue;
}

.resizable {
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    position: relative;
}