
        :root {
            --primary-color: #007bff;
            --secondary-color: #ff66b2;
            --tertiary-color: #ff9933;
            --primary-color-percent: 0%;
            --secondary-color-percent: 55%;
            --tertiary-color-percent: 90%;
            --gradient-orientation: to top left;
            --particles: astral;
        }

        .background-theme {
            background-image: -webkit-linear-gradient(var(--gradient-orientation), var(--primary-color) var(--primary-color-percent), var(--secondary-color) var(--secondary-color-percent), var(--tertiary-color) var(--tertiary-color-percent));
            background-image: linear-gradient(var(--gradient-orientation), var(--primary-color) var(--primary-color-percent), var(--secondary-color) var(--secondary-color-percent), var(--tertiary-color) var(--tertiary-color-percent));
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            particles: var(--particles);
        }
        