
        :root {
            --primary-color: #95C7F0;
            --secondary-color: #912FBA;
            --tertiary-color: #000000;
            --primary-color-percent: 33%;
            --secondary-color-percent: 58%;
            --tertiary-color-percent: 95%;
            --gradient-orientation: to top left;
        }

        .background-theme {
            background-image: -webkit-linear-gradient(var(--gradient-orientation), var(--primary-color) var(--primary-color-percent), var(--secondary-color) var(--secondary-color-percent), var(--tertiary-color) var(--tertiary-color-percent));
            background-image: linear-gradient(var(--gradient-orientation), var(--primary-color) var(--primary-color-percent), var(--secondary-color) var(--secondary-color-percent), var(--tertiary-color) var(--tertiary-color-percent));
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        