<%
let eventsFields = [
  ['active'           , '30' , 'formatCheckbox', 'disabled   show text-center             '],
  ['checked'          , '30' , 'formatCheckbox', 'enabled   show text-center              '],
  ['banned'           , ''   , 'formatCheckbox', 'disabled  hide                          '],
  ['kind'             , ''   , ''              , 'disabled  show text-center              '],
  ['tags'             , ''   , ''              , 'disabled  hide mobile-hide              '],
  ['event_id'         , '64' , ''              , 'disabled  show text-center              '],
  ['pubkey'           , ''   , ''              , 'disabled  hide mobile-hide              '],
  ['content'          , ''   , ''              , 'disabled  hide mobile-hide              '],
  ['created_at'       , ''   , ''              , 'disabled  show text-center              '],
  ['received_at'      , ''   , ''              , 'disabled  show text-center              '],
];
%>
<% if(locals.activeModules.includes('relay')) { %> 
  <%- include('../table', {
    tableName:"Events", 
    tableId:"eventsData", 
    buttons:[
      ['add','hide'],
      ['disable','show'],
      ['enable','show'],
      ['visible','hide'],
      ['invisible','hide'],
      ['admin','hide'],
      ['edit','show'],
      ['password','hide'],
      ['remove','show'],
      ['pay', 'hide'],
      ['balance','hide'],
      ['moderate','hide'],
      ['ban','show']
    ],
    fields: eventsFields
    }); %> 
  <div class="mt-2 d-flex flex-column align-items-center">
    <div class="row d-flex w-100">
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 mb-4" style="height:450px;">
        <div class="w-100 h-100 default-bg rounded d-flex me-2 p-3 shadow-sm ">
          <canvas id="relayData-chart" class="mx-auto w-100"></canvas>
          </div>  
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12" style="height:450px;">
        <div class="w-100 h-100 default-bg rounded d-flex me-2 p-3 shadow-sm ">
        <canvas id="relayData-doughnut-chart" class="mx-auto"></canvas>
        </div>  
      </div>
    </div>
  </div>
<% } %>