<div class="modal fade" id="uploader-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploader-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload files</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%- include('../uploader'); %>
      </div>
    </div>
  </div>
</div>

<style>
  html[data-bs-theme="light"] {
      #drop-zone {
      color:rgb(145, 145, 145) !important;
      }
  }

  html[data-bs-theme="dark"] {
      #drop-zone {
      color:rgb(145, 145, 145) !important;
      }
  }
</style>