<div class="modal fade" id="<%- objectId %>-alert-modal" tabindex="-1" aria-labelledby="<%- objectId %>-alert-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " >
    <div class="alert alert-warning container-fluid" role="alert">
    </div>
  </div>
</div>
