<div class="modal fade modal-lg" id="<%- objectId %>-edit-modal" tabindex="-1" aria-labelledby="<%- objectId %>-edit-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="<%- objectId %>-edit-modal-title">Edit record</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-button">Save</button>
      </div>
    </div>
  </div>
</div>