<div class="d-flex justify-content-end mb-3">
    <select id="viewSelector" class="form-select w-auto">
        <option value="masonry" selected>Gallery</option>
        <option value="list">List</option>
    </select>
</div>
<div id="list-container" class="visually-hidden g-2 p-2">
    <table id="fileTable"></table>
</div>

<div id="masonry-container" class="g-2 p-1"></div>
<div id="no-media" class="visually-hidden text-center py-5 fs-4"><p>No media files found</p></div>
<div id="sentinelEnd"></div>
<div class="d-flex justify-content-center mt-5 mb-5">
    <div class="spinner-border text-secondary" id="loading-spinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<style>
    #masonry-container {
        display: flex;
        justify-content: center;
        gap: 5px; 
    }

    .media-column {
        display: flex;
        flex-direction: column;
        gap: 5px; 
        flex: 1; 
    }

    .btn-container {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease-in-out;
    }

    .btn-container .btn{
        min-width: 45px;
    }

    .media-div:hover .btn-container {
        opacity: 1;
        transform: translateY(0);
    }

    .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    }

    @keyframes fadeIn {
    to {
        opacity: 1;
    }
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/blurhash@1.1.4/dist/blurhash.min.js"></script>
<script>
const maxImageWidth = <%= maxImageWidth %>;
const maxColumns = <%= maxColumns %>;
const privateGallery = <%= privateGallery %>;

let mediaCount = 50;
const resizeThreshold = 50;

let page = -1;
let mediaId = 0;
let lastClickedMedia = null;
let columns = Math.floor(window.innerWidth / maxImageWidth) < maxColumns ? Math.floor(window.innerWidth / maxImageWidth) : maxColumns;
const columnElements = [];
const columnHeights = Array(columns).fill(0); 

document.addEventListener('DOMContentLoaded', (event) => {

    const sentinelEnd = document.getElementById('sentinelEnd');

    const mediaContainer = document.getElementById('masonry-container');
    for (let i = 0; i < columns; i++) {
        const column = document.createElement('div');
        column.classList.add('media-column');
        column.style.flex = '1'; 
        column.id = `column-${i}`; 
        column.style.width = `${100 / columns}%`;
        mediaContainer.appendChild(column);
        columnElements.push(column);
    }

    let lastWindowWidth = window.innerWidth;
    const redistributeMedia = () => {

        if (Math.abs(window.innerWidth - lastWindowWidth) < resizeThreshold) return;
        lastWindowWidth = window.innerWidth;

        observerSentinels.unobserve(sentinelEnd);

        const allMediaDivs = Array.from(document.querySelectorAll('.media-div')).sort((a, b) => {
            const idA = parseInt(a.id.split('-')[1], 10);
            const idB = parseInt(b.id.split('-')[1], 10);
            return idA - idB;
        });

        const fragment = document.createDocumentFragment();

        while (mediaContainer.firstChild) {
            mediaContainer.removeChild(mediaContainer.firstChild);
        }

        columns = Math.floor(window.innerWidth / maxImageWidth) < maxColumns ? Math.floor(window.innerWidth / maxImageWidth) : maxColumns;
        columnElements.length = 0;
        columnHeights.length = columns;
        columnHeights.fill(0);

        for (let i = 0; i < columns; i++) {
            const column = document.createElement('div');
            column.classList.add('media-column');
            column.id = `column-${i}`;
            column.style.width = `${100 / columns}%`;
            fragment.appendChild(column);
            columnElements.push(column);
        }

        allMediaDivs.forEach(mediaDiv => {
            const shortestColumnIndex = columnHeights.indexOf(Math.min(...columnHeights));
            const shortestColumn = columnElements[shortestColumnIndex];
            shortestColumn.appendChild(mediaDiv);
            columnHeights[shortestColumnIndex] += parseInt(mediaDiv.dataset.serverHeight, 10);
        });

        columnElements.forEach((column, index) => {
            column.querySelectorAll('.media-div').forEach(mediaDiv => {
                const height = mediaDiv.clientHeight;
                columnHeights[index] += height;
            });
        });

        const shortestColumnIndex = columnHeights.indexOf(Math.min(...columnHeights));
        const shortestColumn = columnElements[shortestColumnIndex];
        shortestColumn.appendChild(sentinelEnd);

        mediaContainer.appendChild(fragment);

        observerSentinels.observe(sentinelEnd);
    };

    window.addEventListener('resize', redistributeMedia);

    const observerSentinels = new IntersectionObserver(async (entries, observer) => {
        for (const entry of entries) {
            if (entry.isIntersecting) {
                
                page++;

                await semaphore.execute(async () => {
                    const localHeader = privateGallery?{
                            "authorization": "Bearer " + localStorage.getItem('authkey') } : {};
                    const response = await fetch(`/api/v2/media?page=${page}&count=${mediaCount}`, {
                        method: "GET",
                        headers: localHeader
                    });
                    if (!response.ok) {
                        document.getElementById('loading-spinner').remove();
                        document.getElementById('no-media').classList.remove('visually-hidden');
                        console.log('Error fetching media', response);
                        return;
                    }
                    const userData = await response.json();
                    response.headers.get("Authorization") ? await storeAuthkey(response.headers.get("Authorization")) : null;

                    if (userData.files && userData.files.length === 0) {
                        console.log('No more media files');
                        document.getElementById('loading-spinner')?.remove();
                        observer.unobserve(sentinelEnd);
                        return;
                    }

                    const selectedView = document.getElementById('viewSelector').value;
                    if (selectedView === 'masonry') {
                        populateMasonryData(userData.files, response.headers.get("Authorization")? true : false);
                    }else{
                        populateTableData(userData.files, response.headers.get("Authorization")? true : false);
                    }
                });
            }
        };
    }, {
        rootMargin: '1500px'
    });
    observerSentinels.observe(sentinelEnd);

    document.getElementById('viewSelector').addEventListener('change', (event) => {
        const selectedView = event.target.value;
        const masonryView = document.getElementById('masonry-container');
        const listView = document.getElementById('list-container');

        if (selectedView === 'masonry') {
            masonryView.classList.remove('visually-hidden');
            listView.classList.add('visually-hidden');
            masonryView.insertAdjacentElement('afterend', sentinelEnd);
            observerSentinels.observe(sentinelEnd);
        } else {
            masonryView.classList.add('visually-hidden');
            listView.classList.remove('visually-hidden');
            listView.appendChild(sentinelEnd);
            observerSentinels.observe(sentinelEnd);
        }
        page = -1;
        mediaCount = 50;
    });

    $('#fileTable').bootstrapTable({
        columns: [
            {
                field: 'url',
                title: 'URL',
                formatter: (value, row) => {
                    return `<a href="${value}" target="_blank">${value.slice(0, 10)}...${value.slice(-10)}</a>`;
                },
                class: 'text-center'
            },
            {
                field: 'ext',
                title: 'Extension',
                class: 'text-center'
            },
            {
                field: 'size',
                title: 'Size',
                class: 'text-center'
            },
            {
                field: 'actions',
                title: 'Actions',
                formatter: actionsFormatter,
                class: 'text-center'
            }, 
            {
                field: 'auth',
                visible: false
            }
        ],
        data: [], 
        search: true,
        pagination: true
    });


});

async function populateMasonryData (files, auth) {

    for (const file of files) {
        const url = file.tags.find(tag => tag[0] === 'url')[1];
        const ext = url.split('.').pop();
        const height = parseInt(file.tags.find(tag => tag[0] === 'dim')[1].trim().split('x')[1], 10) || 220;

        let mediaLink = document.createElement('a');
        let mediaElement;
        if (ext === 'webp' || ext === 'gif' || ext === 'jpg' || ext === 'jpeg' || ext === 'png') {
            mediaElement = document.createElement('img');
            mediaElement.src = '/static/resources/loading-image.webp';
            mediaElement.classList.add("rounded-1", "w-100", "object-fit-contain");

            let mediaLoader = new Image();
            mediaLoader.src = `${url}`;

            mediaLoader.onload = function() {
                mediaElement.classList.add('fade-in');
                mediaElement.src = mediaLoader.src;
            };

        } else if (ext === 'mp4' || ext === 'mov') {
            mediaElement = document.createElement('video');
            mediaElement.classList.add("rounded-1", "w-100", "object-fit-contain");
            mediaElement.setAttribute('muted', '');
            mediaElement.setAttribute('playsinline', '');
            mediaElement.setAttribute('autoplay', '');
            mediaElement.setAttribute('loop', '');
            mediaElement.setAttribute('poster', '/static/resources/loading-video.webp');
            mediaElement.setAttribute('preload', 'metadata');

            const handleVideoError = function(error) {
                mediaElement.removeEventListener('error', handleVideoError);
                mediaElement.poster = `${url}`;
                videoObserver.unobserve(mediaElement);
            };

            mediaElement.onloadedmetadata = function() {
                mediaElement.classList.add('fade-in');
            };

            mediaElement.addEventListener('error', handleVideoError);

            interserctingVideo = false;
            const videoObserver = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        if (interserctingVideo) return;
                        interserctingVideo = true;
                        mediaElement.setAttribute('preload', 'auto'); 
                        setTimeout(() => {
                            mediaElement.style.width = '100%';
                            mediaElement.style.opacity = 1;
                            try {
                                mediaElement.play();
                            } catch (error) {
                                console.log('cant play video', error)
                            }
                        }, 100);
                        interserctingVideo = false;
                    } else {
                        if (!interserctingVideo) return;
                        mediaElement.style.width = '1px';
                        mediaElement.style.opacity = 0;
                        mediaElement.pause();
                        interserctingVideo = false;
                    }
                });
            });

            mediaElement.addEventListener('canplaythrough', function() {
                mediaElement.classList.add('fade-in');
                mediaElement.removeAttribute('poster');
            });

            mediaElement.src = `${url}`;
            mediaElement.load();

            // Autoplay video patch
            try {
            mediaElement.muted = true;
                mediaElement.play()
            } catch (error) {
                console.log('cant play video', error)
            }

            videoObserver.observe(mediaElement);

        } else if (ext === 'mp3') {
            mediaElement = document.createElement('audio');
            mediaElement.src = `${url}`;
            mediaElement.classList.add("ps-5", "pe-5");
            mediaElement.setAttribute('controls', '');

            let hasBeenPlayed = false;
            mediaElement.addEventListener('play', () => {
                hasBeenPlayed = true;
            });

            // Pause audio when it's not in the viewport
            const audioObserver = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (!entry.isIntersecting) {
                        setTimeout(() => {
                            try {
                                mediaElement.pause();
                            } catch (error) {
                                console.log('cant pause video', error)
                            }
                        }, 100);
                    } else if (hasBeenPlayed) {
                        setTimeout(() => {
                            try {
                                mediaElement.play();
                            } catch (error) {
                                console.log('cant play video', error)
                            }
                        }, 100);
                    }
                });
            });
            audioObserver.observe(mediaElement);
        }else if (ext === 'stl') {
            mediaElement = document.createElement('canvas');
            mediaElement.id = `media-3d-${mediaId++}`;	
            mediaElement.classList.add("rounded-2", "w-100", "object-fit-contain");
            mediaElement.style.backgroundColor = '#D1CDCD'
            mediaElement.style.width = '100%';
            mediaElement.style.height = '200';
            mediaElement.style.position = "relative";

            console.log('mediaElement', mediaElement);

            setTimeout(() => {
                init3dViewer(mediaElement.id, 'column-0', `${url}`, 250, 200);
                mediaElement.classList.add('fade-in');
            }, 100);
        }
        else{
            mediaElement = document.createElement('div');
            mediaElement.classList.add("rounded-2", "w-100", "object-fit-contain", "text-center", "d-flex", "align-items-center", "justify-content-center");
            mediaElement.style.height = '180px'
            mediaElement.style.backgroundColor = '#ffffff';
            mediaElement.style.border = '1px solid #D1CDCD';
            mediaElement.innerHTML = `<a href="${url}" download><span class="display-4 mb-1 pb-2 font-weight-normal gradient-text">.${ext}</span></a>`;
            mediaElement.classList.add('fade-in');

        }

        if (mediaElement) {
            const mediaDiv = document.createElement('div');
            mediaDiv.classList.add("mb-0", "fade-in", "media-div", "text-center");
            mediaDiv.id = `media-${mediaId++}`;
            mediaDiv.style.height = ext === 'mp3'? '220px' : `${height}px`;
            mediaDiv.style.position = "relative";
            if (ext === 'mp3') {
                mediaDiv.style.height = "220px";
                mediaDiv.style.background = "url('/static/resources/loading-music.webp') center center / cover no-repeat";
                mediaDiv.classList.add("rounded-3", "d-flex", "flex-column", "align-items-center", "justify-content-end", "pb-2");
            }
            mediaDiv.appendChild(mediaLink);
            mediaLink.appendChild(mediaElement);

            mediaElement.addEventListener('click', (event) => {
                event.preventDefault();
                const buttonContainer = mediaDiv.querySelector('.btn-container');
                if (lastClickedMedia && lastClickedMedia !== mediaElement) {
                    const lastButtonContainer = lastClickedMedia.closest('.media-div').querySelector('.btn-container');
                    if (lastButtonContainer) {
                        lastButtonContainer.style.opacity = 0;
                    }
                }
                if (buttonContainer) {
                    buttonContainer.classList.style.opacity = 1;
                }
                lastClickedMedia = mediaElement;
            });

            mediaDiv.appendChild(buttonContainer("mansonry",file, auth));

            // Add the element to the shortest column
            const shortestColumnIndex = columnHeights.indexOf(Math.min(...columnHeights));
            const shortestColumn = columnElements[shortestColumnIndex];
            shortestColumn.appendChild(mediaDiv);

            // Update the height of the shortest column
            columnHeights[shortestColumnIndex] += height;

            // Rescan the real height of the elements
            mediaDiv.style.height = ext === 'mp3'? '220px' : 'auto';

            // Save the server height for using it when resizing the window
            mediaDiv.dataset.serverHeight = `${height}`;
        }

    }

    // Rescan the real height of all the columns
    columnHeights.fill(0);
    for (const [index, column] of columnElements.entries()) {
        await (async () => {
            column.querySelectorAll('.media-div').forEach(mediaDiv => {
                const height = mediaDiv.clientHeight;
                columnHeights[index] += height;
                // Move the sentinel to the shortest column
                const shortestColumnIndex = columnHeights.indexOf(Math.min(...columnHeights));
                const shortestColumn = columnElements[shortestColumnIndex];
                shortestColumn.appendChild(sentinelEnd);
            });
        })();
    }
}

function buttonContainer(type, file, auth){

    const url = file.tags?.find(tag => tag[0] === 'url')[1] || file.url || "no url";

    const buttonContainer = document.createElement('div');

            if (type == "mansonry"){
                buttonContainer.classList.add('btn-container', 'position-absolute', 'p-1', 'w-100');
                buttonContainer.style.background = 'rgba(0, 0, 0, 0.1)';
                buttonContainer.style.borderRadius = '5px';
                buttonContainer.style.zIndex = '10';
                buttonContainer.style.bottom = '1px';
            }

            if (auth) {

                const reorderButton = document.createElement('button');
                reorderButton.classList.add('btn', 'btn-primary', 'btn-xl', 'me-1');
                reorderButton.innerHTML = '<i class="fas fa-sort"></i>';
                buttonContainer.appendChild(reorderButton);

                const infoButton = document.createElement('button');
                infoButton.classList.add('btn', 'btn-primary', 'btn-xl', 'me-1');
                infoButton.innerHTML = '<i class="fas fa-info"></i>';
                buttonContainer.appendChild(infoButton);

                const payButton = document.createElement('button');
                payButton.classList.add('btn', 'btn-warning', 'btn-xl', 'me-1');
                payButton.innerHTML = '<i class="fas fa-bolt"></i>';
                buttonContainer.appendChild(payButton);

                const deleteButton = document.createElement('button');
                deleteButton.classList.add('btn', 'btn-danger', 'btn-xl', 'me-1');
                deleteButton.innerHTML = '<i class="fas fa-trash"></i>';
                buttonContainer.appendChild(deleteButton);

            }

            const viewButton = document.createElement('button');
            viewButton.classList.add('btn', 'btn-primary', 'btn-xl', 'me-1', 'btn-dark');
            viewButton.innerHTML = '<i class="fa-solid fa-arrow-up-right-from-square"></i>';
            viewButton.addEventListener('click', (event) => {
                event.stopPropagation();
                window.open(`${url}`, '_blank');
            });
            buttonContainer.appendChild(viewButton);
            return buttonContainer
}

function populateTableData(files, auth) {
    const rows = files.map(file => {
        const url = file.tags.find(tag => tag[0] === 'url')[1];
        const x = file.tags.find(tag => tag[0] === 'x') ? file.tags.find(tag => tag[0] === 'x')[1] : 'N/A';
        const ext = url.split('.').pop();
        const size = file.tags.find(tag => tag[0] === 'size') ? file.tags.find(tag => tag[0] === 'size')[1] : 'N/A';
        return {
            url: url,
            ext: ext,
            size: size,
            auth: auth,
            actions: "",
        };
    });

    $('#fileTable').bootstrapTable('append', rows);
    document.getElementById('list-container').appendChild(sentinelEnd);
}

function actionsFormatter(value, row, index) {

    return `<div>${buttonContainer("list", row, row.auth).innerHTML}</div>`;
}

</script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/STLLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
<script src="/static/js/viewers/3dviewer.js"></script>