<div class="row">
  <div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
    <div class="text-center">
      <h1 class="display-4 mb-1 pb-2 font-weight-normal gradient-text">Login</h1>
    </div>
    <div>
      <form class="form" onkeydown=" if (event.keyCode === 13) {logIn('nostr', $('#rememberme_otc:checked').val(),'otc_submit');}">
        <div class="text-center">
          <p class="lead">Login with your Nostr account using a one-time password</p>
        </div>
        <div class="input-group">
          <input type="text" data-otc='pubkey' class="form-control" id="input-otc-login" placeholder="Your pubkey or hex" required>
          <div class="input-group-text">
            <div class="form-check form-switch">
              <label for="rememberme" class="ps-1">Stay signed</label>
              <input class="form-check-input" type="checkbox" value="true" id="rememberme_otc" name="rememberme">
            </div>
          </div>
        </div> 
        <div class="d-grid mb-3 mt-3 w-300 mx-auto">
          <button class="btn btn-lg btn-primary" name="otc_submit" id="otc_submit" type="button" onclick="logInOtc()"><i class="nostr-logo me-2" ></i>One time login-code</button>
        </div>
      </form>
    </div>
    <div class=" hr-text w-50 mx-auto">or</div> 
    <div class="mt-2">
      <div class="text-center">
        <p class="lead">Login with your Nostr account with a browser extension</p>
      </div>
      <form class="form">
        <div class="d-grid w-300 mx-auto">
          <button class="btn btn-lg btn-primary" name="NIP07_submit" id="NIP07_submit" type="button" onclick="logIn('nostr', $('#rememberme:checked').val(), 'NIP07_submit')"><i class="nostr-logo me-2"></i>Browser extension</button>
        </div>
      </form>
    </div>
    <div class="d-grid d-none">
      <hr class="hr w-50 mx-auto"/>
      <div class="text-center">
        <p class="lead">Login with your username and password</p>
      </div>
      <form class="form " onkeydown=" if (event.keyCode === 13) {logIn('legacy', $('#rememberme_legacy:checked').val(),'legacy_submit');}">
        <div class="input-group mb-2">
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
          <div class="input-group-text">
            <div class="form-check form-switch">
              <label for="rememberme" class="ps-1">Stay signed</label>
              <input class="form-check-input" type="checkbox" value="true" id="rememberme_legacy" name="rememberme">
            </div>
          </div>
        </div>
        <label for="password" class="sr-only">Password</label>
        <div class="input-group">
          <input type="password" id="password"  name="password" class="form-control" placeholder="Password" >
          <button id="toggle-password" type="button" class="d-none"
            aria-label="Show password as plain text. Warning: this will display your password on the screen.">
          </button>
        </div>
        <div class="d-grid mb-3 w-300 mt-3 mx-auto">
          <button class="btn btn-lg btn-primary" name="legacy_submit" id="legacy_submit" type="button" onclick="logIn('legacy', $('#rememberme:checked').val(),'legacy_submit')"><i class="bi bi-box-arrow-in-right me-3"></i>Login</button>
        </div>  
    </form>
  </div> 
</div>  
<script src="/static/js/form.js"></script>
<script src="/static/js/login.js"></script>