<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password"  name="password" class="form-control" placeholder="Password" >
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="true" id="rememberme" name="rememberme"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" name="Submit" type="button" onclick="logIn('legacy')">Login</button>
    <button class="btn btn-lg btn-primary btn-block" name="NIP07_submit" type="button" onclick="logIn('nostr')">Login with extension</button>
  </form>