<div class="modal fade" id="media-modal" tabindex="-1" aria-labelledby="media-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="media-modal-title">Media preview</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <img src="" class=" mediapreview-image img-fluid d-none rounded mx-auto d-block" >
            <video controls muted="" playsinline="" loop="" data-wf-ignore="true" data-object-fit="cover" class="mediapreview-video img-fluid d-none rounded mx-auto d-block" src=""> 
            <source src="" data-wf-ignore="true">
            </video>
            <audio controls class="mediapreview-audio d-none">
            <source src="" type="audio/mpeg">
            </audio>
        </div>
        <div class="modal-footer">
            <div class="form-check form-switch me-auto">
                <input class="form-check-input" type="checkbox" id="modalSwitch">
                <label class="form-check-label" for="modalSwitch">Checked</label>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
      