<div class="modal fade" id="media-modal" tabindex="-1" aria-labelledby="media-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="media-modal-title">Media preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" id="media-modal-body" style="min-height: 450px;">
                <img src="" id="mediapreview-img" class="img-fluid d-none rounded mx-auto">
                <canvas id="mediapreview-3d" class= "d-none rounded mx-auto"></canvas>
                <iframe  id="mediapreview-iframe" class="img-fluid d-none rounded mx-auto" style="width: 100%; min-height: 450px;" frameborder="0"></iframe>
                <div id="mediapreview-font" class="d-none rounded mx-auto" style="min-height: 450px; align-items: center; justify-content: center;"></div>
            </div>
            <div id="modalSwitch-footer" class="modal-footer">
                <div class="form-check form-switch mx-auto">
                    <input class="form-check-input" type="checkbox" id="modalSwitch-visible">
                    <label class="form-check-label" for="modalSwitch-visible">Visible</label>
                </div>
                <div class="form-check form-switch mx-auto">
                    <input class="form-check-input" type="checkbox" id="modalSwitch-checked">
                    <label class="form-check-label" for="modalSwitch-checked">Checked</label>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/STLLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
<script src="/static/js/3dviewer.js"></script>
<script src="/static/js/fontviewer.js"></script>