<div class="modal fade" id="<%- objectId %>-message-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="<%- objectId %>-message-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<style>
.message-container {
  position: fixed;
  bottom: 10;
  right: 10;
  width: 450px;
  z-index: 1050; 
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  word-wrap: break-word;
}

@media (max-width: 994.98px) {
  .message-container {
    width: 95%;
    right: 0;
    bottom: 100;
    margin: 0px 10px;
  }

  .message-container .alert {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

</style>