<div class="row">
    <div class="text-center col-11 col-sm-9 col-md-8 mx-auto" id="register-title">
        <h1 class="display-4 mb-1 pb-2 font-weight-normal gradient-text">Be part of our community</h1>
        <p class="lead">Public nostr profile page, multimedia uploads, lightning redirects and much more. Thank you for giving us the opportunity to serve you.</p>
    </div>
</div>
<div class="row">
    <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto" id="register-form">
        <form class="form">
          <div class="input-group mb-3 mt-2">
            <span class="input-group-text" id="addon-wrapping">Select domain name</span>
            <select class="form-select" aria-label="Domain selection" id="domain-selection">
            </select>
          </div>
            <div class="input-group mb-3 mt-2">
              <input type="text" data-otc='username' class="form-control " id="input-register-username" placeholder="username" required autocomplete="username">
              <span class="input-group-text" id="input-register-domain">@domain.com</span>
            </div>
            
            <input type="text" data-otc='pubkey' class="form-control mt-2 mb-3" id="input-register-pubkey" placeholder="public key (npub or hex)" required autocomplete="pubkey">
            <div class="input-group flex-nowrap mt-2">
              <span class="input-group-text" id="addon-wrapping">Optional</span>
              <input type="password" data-otc='password' id="input-register-password" name="password" class="form-control input-password" placeholder="Password" autocomplete="current-password">
              <button id="toggle-password" type="button" class="d-none"
              aria-label="Show password as plain text. Warning: this will display your password on the screen.">
            </button>
            </div>
          </form>
          
      <div id="register-buttons" class="mt-3">
        <p class="text-center">Register using a one time code sent via nostr direct message or using a browser extension</p>
        <div class="d-grid mb-3 mt-4 w-300 mx-auto">
          <button class="btn btn-lg btn-primary" name="otc_register" id="otc_register" type="button" onclick="register('otc')"><i class="nostr-logo me-2" ></i>One time register code</button>
        </div>
        <div class=" hr-text w-50 mx-auto">or</div> 
        <div class="d-grid w-300 mx-auto mt-3 mb-3">
          <button class="btn btn-lg btn-primary" name="NIP07_submit" id="NIP07_submit" type="button" onclick="register('nip07')"><i class="nostr-logo me-2"></i>Browser extension</button>
        </div>
      </div>
    </div>  
    <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto d-none" id="register-success">
      <div>
        <div class="text-center mb-4">
         <h1 class="display-4 mb-1 mt-2 pb-2 font-weight-normal gradient-text">Registration successful</h1>
        </div>
        <h5 class="lead mb-2">One step more before you can start using your account</h5>
        <p>
          We have sent you an nostr direct message with a one time code. Use your favorite <a class="link-offset-2"href="https://nostr.net/" target="_blank">nostr client</a> to retrieve the code and complete the registration process.
        </p>
      </div>
      <div class="input-group mb-3 mt-2">
        <input type="text" class="form-control" id="input-register-otc" placeholder="One time code" required>
        <button class="btn btn-primary" type="button" id="otc_submit" onclick="validateOTC()">Submit</button>
      </div>  
    </div>
<script src="/static/js/form.js"></script>
<script src="/static/js/register.js"></script>

<script>
document.addEventListener('DOMContentLoaded', async (event) => {
  initRegisterForm();  
});

</script>