<div class="row">
    <div class="text-center col-11 col-sm-9 col-md-8 mx-auto" id="register-title">
        <h1 class="display-4 mb-1 pb-2 font-weight-normal gradient-text">Be part of our community</h1>
        <p class="lead">Public nostr profile page, multimedia uploads, lightning redirects and much more. Thank you for giving us the opportunity to serve you.</p>
    </div>
</div>
<div class="row">
    <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto" id="register-form">
        <form class="form">
          <div class="input-group mb-3 mt-2"  data-bs-tooltip="test">
            <span class="input-group-text">Domain name</span>
            <select class="form-select" aria-label="Domain selection" id="domain-selection"></select>
            <span 
                  class="input-group-text" 
                  id="domain-selection-icons" 
                  data-bs-toggle="tooltip" 
                  data-bs-title="Each domain has different characteristics, 
                                 the envelope and lightning icons mean that they require an 
                                 invitation or payment of a lightning invoice."
                                 >
            </span>  
          </div>
          <div id="register-invitation" class="d-none">
            <p class="text-center lead">
              This domain <b>requires an invitation code to register</b>. If you don't have one, you can request one from 
              other <a class="link-body-emphasis link-offset-3 link-underline-opacity-25 link-underline-opacity-75-hover" href="directory">registered users</a>
            </p>
              <input type="input" data-otc='invitation' id="input-register-invitation" name="password" class="form-control" placeholder="Invite code" autocomplete="invite">
          </div>
            <div class="input-group mb-3 mt-2">
              <input type="text" data-otc='username' class="form-control " id="input-register-username" placeholder="username" required autocomplete="username">
              <span class="input-group-text" id="input-register-domain" data-bs-placement="top">@domain.com</span>
              <span class="input-group-text d-none" id="input-register-payment" data-bs-placement="top"></span>
            </div>
            
            <input type="text" data-otc='pubkey' class="form-control mt-2 mb-3" id="input-register-pubkey" placeholder="public key (npub or hex)" required autocomplete="pubkey">
            <div class="input-group flex-nowrap mt-2 mb-3">
              <span class="input-group-text" id="input-register-password-label">Optional</span>
              <input type="password" data-otc='password' id="input-register-password" name="password" class="form-control input-password" placeholder="Password" autocomplete="current-password">
              <button id="toggle-password" type="button" class="d-none"
              aria-label="Show password as plain text. Warning: this will display your password on the screen.">
            </button>
            </div>
          </form>
          
      <div id="register-buttons" class="mt-3">
        <p class="text-center lead">You can register using a one time code or using a <a href="https://nostr.net/#nip-07-browser-extensions" class="link-body-emphasis link-offset-3 link-underline-opacity-25 link-underline-opacity-75-hover" target="_blank">browser extension.</a></p>
        <div class="d-grid mb-3 mt-4 w-300 mx-auto">
          <button class="btn btn-lg btn-primary" name="otc_register" id="otc_register" type="button" onclick="register('otc')"><i class="nostr-logo me-2" ></i>One time register code</button>
        </div>
        <div class=" hr-text w-50 mx-auto">or</div> 
        <div class="d-grid w-300 mx-auto mt-3 mb-3">
          <button class="btn btn-lg btn-primary" name="NIP07_submit" id="NIP07_submit" type="button" onclick="register('nip07')"><i class="nostr-logo me-2"></i>Browser extension</button>
        </div>
      </div>
    </div>  
    <div id="register-second-phase" class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto d-none">
      <div class="text-center mb-4 d-none" id="register-need-steps">
        <h1 class="display-4 mb-1 mt-2 pb-2 font-weight-normal gradient-text">Some steps are required</h1>
        <p class="lead">
            Your account has been created. But some steps are required to complete the registration process.
        </p>
      </div>
      <div class="text-center mb-4 d-none" id="register-success">
        <h1 class="display-4 mb-1 mt-3 pb-3 font-weight-normal gradient-text">Registration successful</h1>
        <p class="lead">
            Your account has been created. You can now <a href="login" class="link-body-emphasis link-offset-3 link-underline-opacity-25 link-underline-opacity-75-hover">login</a> and start using all our services!
        </p>
      </div>
      <div id="register-otc-request" class="mx-auto mb-3 mt-5 d-none ">
        <h5 class="lead mb-3">
          <i class="fa-regular fa-paper-plane me-1" style="color:rgb(77, 77, 77)"></i>
          One time code required        
        </h5>
        <p>
          We have sent you an nostr direct message with a one time code to ensure that you are the owner of the pubkey. Use your favorite <a class="link-offset-2"href="https://nostr.net/" target="_blank">nostr client</a> to retrieve the code and complete the registration process.
        </p>
        <div class="input-group mb-3 mt-2">
          <input type="text" class="form-control" id="input-register-otc" placeholder="One time code" required>
          <button class="btn btn-primary" type="button" id="otc_submit" onclick="validateOTC()">Submit</button>
        </div>  
      </div>
      <div id="register-payment-request" class="mx-auto mb-3 mt-5 d-none">
        <h5 class="lead mb-3">
          <i class="fa-solid fa-bolt me-1" style="color:rgb(255, 128, 24)"></i>

          Payment required
        </h5>
        <p>
          We have generated a lightning invoice for you to pay. Once confirmed this QR will disappear. Use your favorite lightning wallet to pay the invoice. 
        </p>
        <p class="lead mb-1 text-center">Invoice amount: <span id="payment-request-satoshi"></span> sats</p>
        <div id="payment-request-qr" class="mx-auto" style="width: 250px;"></div>
        <div class="text-center">
          <span id="payment-request" class="d-none"></span>
          <button class="btn btn-primary mt-3" type="button" id="payment-request-copy" onclick="copyToClipboard(this,document.getElementById('payment-request').innerText)">Copy invoice</button>
        </div>
        <p class="text-center mt-3">
          Not sure which wallet to use? Check out the awesome <a class="link-offset-2" href="https://getalby.com/" target="_blank">Alby wallet</a>.
        </p>
      </div>
    </div>
  </div>
<canvas id="confetti-canvas"></canvas>
<script src="/static/js/confetti.js"></script>
<script src="/static/js/form.js"></script>
<script src="/static/js/register.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
  
document.addEventListener('DOMContentLoaded', async (event) => {
  initRegisterForm();  
});

</script>