<div class="theme-switch pt-1 " id="theme-switch">
  <i class="fas fa-sun" id="theme-switch-icon" ></i>
</div>

<style>


.theme-switch {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#theme-switch-icon{
    font-size: 1.4rem;
    transition: transform 0.5s, color 0.5s;
    transform: rotate(0deg);
}

html[data-bs-theme="dark"] #theme-switch-icon {
    color: #a5a4a4;
}

</style>

<script>
const themeSwitch = document.getElementById('theme-switch');
const themeSwitchIcon = document.getElementById('theme-switch-icon');


function applyTheme(theme) {
  if (theme === 'dark' || (theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    themeSwitchIcon.classList.remove('fa-sun');
    themeSwitchIcon.classList.add('fa-moon');
    document.documentElement.setAttribute('data-bs-theme', 'dark');
  } else {
    themeSwitchIcon.classList.remove('fa-moon');
    themeSwitchIcon.classList.add('fa-sun');
    document.documentElement.setAttribute('data-bs-theme', 'light');
  }
}

function setTheme(theme) {
  localStorage.setItem('theme', theme);
  applyTheme(theme);
}

themeSwitch.addEventListener('click', function() {
  themeSwitchIcon.style.transform == 'rotate(360deg)'? themeSwitchIcon.style.transform = 'rotate(0deg)' : themeSwitchIcon.style.transform = 'rotate(360deg)';
  document.documentElement.getAttribute('data-bs-theme') == 'dark'? setTheme('light'): setTheme('dark');
});

const savedTheme = localStorage.getItem('theme') || 'system';
applyTheme(savedTheme);

window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
  if (localStorage.getItem('theme') === 'system') {
    applyTheme('system');
  }
});
</script>