<div class="container mt-3 mb-5 mb-lg-3">
    <ul id="last-notes-list" class="list-group">
    </ul>
</div>
<script>
document.addEventListener('DOMContentLoaded', async (event) => {
    await loadNotes(); 
     window.addEventListener('scroll', async () => {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 100) {
            await loadNotes();
        }
    });
});

let currentSince = Math.floor(Date.now() / 1000) - (30 * 24 * 60 * 60);
let currentUntil = Math.floor(Date.now() / 1000);
let loading = false; 
let allNotesLoaded = false; 

async function loadNotes() {
    if (loading || allNotesLoaded) return; 
    loading = true;
    console.log("loading notes since", currentSince);

    // Añadir el spinner de carga
    let loadingContainer = document.createElement('div');
    loadingContainer.id = 'user-notes-list-loading';
    loadingContainer.classList.add('d-flex', 'justify-content-center', 'm-5');
    document.getElementById("last-notes-list").appendChild(loadingContainer);
    let loadingElement = document.createElement('div');
    loadingElement.classList.add('spinner-border', 'text-secondary');
    loadingElement.setAttribute('role', 'status');
    loadingContainer.appendChild(loadingElement);

    await getPubkeyNotes("<%= request.session.metadata.pubkey %>", currentSince, currentUntil).then((notes) => {

        if (notes.length === 0) {
            allNotesLoaded = true;
            const noNotesContainer = document.createElement('div');
            noNotesContainer.classList.add('text-center', 'mt-2', 'mb-2');
            const noNotesText = document.createElement('p');
            noNotesText.innerHTML = '<i class="fas fa-sticky-note me-2"></i>No nore notes to show';
            noNotesContainer.appendChild(noNotesText);
            document.getElementById("last-notes-list").appendChild(noNotesContainer);
            document.getElementById("user-notes-list-loading").remove();
            return;
        }

        for (const note of notes) {
            let content = note.content;

            // Regular expressions for matching media types and line breaks
            const imgRegex = /https?:\/\/[^\s"]+\.(png|jpg|jpeg|gif|webp)/g;
            const videoRegex = /https?:\/\/[^\s"]+\.(mp4|webm|ogg)/g;
            const audioRegex = /https?:\/\/[^\s"]+\.(mp3|wav|ogg)/g;
            const lineBreakRegex = /(?:\r\n|\r|\n)/g;

            // Replace image links with <img> tags
            if (content.match(imgRegex)) {
                content = content.replace(imgRegex, `<div class="text-center"><img src="$&" style="max-height:450px; max-width:80%" alt="note image"></div>`);
            }

            // Replace video links with <video> tags
            if (content.match(videoRegex)) {
                content = content.replace(videoRegex, `<div class="text-center"><video src="$&" style="max-height:450px; max-width:80%" controls></video></div>`);
            }

            // Replace audio links with <audio> tags
            if (content.match(audioRegex)) {
                content = content.replace(audioRegex, `<div class="text-center"><audio src="$&" height="200px" controls></audio></div>`);
            }

            // Replace line breaks with <br> tags
            if (lineBreakRegex.test(content)) {
                content = content.replace(lineBreakRegex, '<br>');
            }

            let noteItem = document.createElement("li");
            noteItem.classList.add("list-group-item", "p-2", "mb-3", "border", "border-1", "rounded-3");
            noteItem.innerHTML = `
                <div class="note-picture-container-${currentSince} picture-container" style="width:40px; height:40px;"></div>
                <p class="ms-1 mb-1">
                    ${content}
                </p>
                <small class="text-muted">${new Date(note.created_at * 1000).toLocaleString()}</small>
            `;
            document.getElementById("last-notes-list").appendChild(noteItem);
        };

    }).catch((error) => {
        console.error("Error loading notes:", error);
    }).finally(() => {
        document.getElementById("user-notes-list-loading").remove();
        loadMedia("<%= request.session?.metadata?.picture || '/static/resources/picture-default.webp' %>" || '/static/resources/picture-default.webp', document.querySelectorAll(`.note-picture-container-${currentSince}`), ['img-thumbnail', 'border-0', 'object-fit-cover', 'w-100', 'h-100']);
        currentUntil = currentSince; 
        currentSince -= 30 * 24 * 60 * 60; 
        loading = false;
    });
}
</script>