<html lang="en">
<%- include('./partials/head',{title:"Nostrcheck Server - Home"}); %>
<% const usernames = request.body.registeredUsernames %>
<link href="https://cdn.jsdelivr.net/npm/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.2/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/table.css">
<body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'home'}); %>
    <main class="pb-1">
    <h1 class="col-12 text-center">Dashboard</h1>
    <div class="container-fluid mt-4 overflow-auto ">
      <h3 class="col-3 ">Registered Users</h3>
      <table 
            id="registeredUsersTable"
            data-show-columns="true"
            data-search="true"
            data-show-toggle="true"
            data-pagination="true"
            data-pagination-v-align="top"
            data-resizable="true"
            data-page-size="8"
            >
        <thead>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="username">Username</th>
            <th data-field="pubkey">Pubkey</th>
            <th data-field="domain">Domain</th>
            <th data-field="active">Active</th>
            <th data-field="allowed">Allowed</th>
            <th data-field="date">Date</th>
            <th data-field="comments">Comments</th>
          </tr>
          </thead>
      </table>
    </div>

    </main>
    <%- include('./partials/footer'); %>
  </body>
  <script>
    var $registeredUsersTable = $('#registeredUsersTable')
    $(function() {
      var regUsersArray = []
      var regUsersData = JSON.parse('<%- JSON.stringify(request.body.registeredUsernames) %>')
      regUsersData.forEach(element => {
        regUsersArray.push(element)
      });
      $registeredUsersTable.bootstrapTable({data: regUsersArray})
    })
  </script>
</html>