<%- include('./partials/head',{title: `${request.body.serverHost} - Profile`}); %>
<link rel="stylesheet" href="/static/css/particles.css">
<link rel="stylesheet" href="/static/css/theme.css">
<html lang="en" class="h-100">
<body class="d-flex flex-column h-100 background-theme">
  <%- include('./partials/navbar', {active:'profile'}); %>
  <main class="container-sm py-0 px-0 py-sm-3">
    <div class="row d-flex justify-content-center align-items-center gx-0">
      <div class="col col-12">
        <div class="card border-0 z-1 shadow-lg">
           <%- include('./partials/gallery',{maxImageWidth: 200, maxColumns: 6}); %> 
        </div>
      </div>
    </div>
  </main>
  <div id="particles-js"></div> 
  <script src="/static/js/particles.min.js"></script>
  <script>
    particlesJS("particles-js", {"particles":{"number":{"value":80,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"grab"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});var count_particles, update; count_particles = document.querySelector('.js-count-particles'); 
  </script>
  <%- include('./partials/footer'); %>
</body>
</html>
