<html lang="en">
<%- include('./partials/head',{title:"Nostrcheck Server - Home"}); %>
  <body>
    <%- include('./components/navbar', {active:'home'}); %>

    <p>Nostrcheck server 0.4.2 is running at localhost in development mode. By using this server you agree the <a href='/api/tos'>Terms of Service</a></p>
    <h2>Active endpoints</h2>
    <ul>
        <h3>v1</h3>
        <li><a href='/api/v1/nostraddress'>/api/v1/nostraddress</a></li>
        <li><a href='/api/v1/register'>/api/v1/register</a></li>
        <li><a href='/api/v1/domains'>/api/v1/domains</a></li>
        <li><a href='/api/v1/verify'>/api/v1/verify</a></li>
        <li><a href='/api/v1/media'>/api/v1/media</a></li>
        <li><a href='/api/v1/lightningaddress'>/api/v1/lightningaddress</a></li>
        <h3>v2</h3>
        <li><a href='/api/v2/status'>/api/v2/status</a></li>
        <li><a href='/api/v2/media'>/api/v2/media</a></li>
        <li><a href='/api/v2/nip96'>/api/v2/nip96</a></li>
    </ul>
    <%- include('./partials/footer'); %>
  </body>
</html>