<html lang="en">
<%- include('./partials/head',{title:"Nostrcheck Server - Home"}); %>
<link rel="stylesheet" href="css/login.css">
<body>
    <%- include('./components/navbar', {active:'login'}); %>
    <center>
      <%- include('./components/loginform'); %>
    </center> 
  </body>
</html>