<html lang="en">
<%- include('./partials/head',{title:"Nostrcheck Server - Home"}); %>
<link rel="stylesheet" href="/static/css/login.css">
<body class="d-flex flex-column h-100"">
  <%- include('./partials/navbar', {active:'login'}); %>
  <center>
    <%- include('./components/loginform'); %>
  </center> 
  <%- include('./partials/footer'); %>
  <script src="/static/js/login.js"></script>
</body>
</html>