<head>
  <%- include('./partials/head',{title:"Nostrcheck Server - Terms of Service"}); %>
</head>
<body>
  <%- include('./partials/navbar', {active:"tos"}); %>
  <main class="mb-6">
    <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12">
      <%- tos %>
    </div>

  </main>
  <%- include('./partials/footer'); %>
</body>