<head>
  <%- include('./partials/head',{title:"Nostrcheck Server - Terms of Service"}); %>
</head>
<body>
  <%- include('./partials/navbar', {active:"tos"}); %>
  <main >
    <div class="align-content-center col-lg-8 col-md-11 col-sm-12 text">
      <%- tos %>
    </div>

  </main>
  <%- include('./partials/footer'); %>
</body>