<head>
  <%- include('./partials/head',{title:"Nostrcheck Server - Terms of Service"}); %>
</head>
<body>
  <%- include('./partials/navbar', {active:"tos"}); %>
  <main >
   <%- tos %>
  </main>
  <%- include('./partials/footer'); %>
</body>