<head>
  <%- include('./partials/head',{title:"Nostrcheck Server - Terms of Service"}); %>
</head>
<body class="d-flex flex-column h-100">
  <%- include('./partials/navbar', {active:"tos"}); %>
  <main class="pb-1">
    <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12">
      <%- tos %>
    </div>
  </main>
  <%- include('./partials/footer'); %>
</body>