<footer class="bg-body-tertiary text-center fixed-bottom bg-dark text-white ">
    <div class="text-center p-3">
        Nostrcheck server v<%= request.body.version %> | Content released under <a class="text-white" href="https://mit-license.org/">MIT license</a> | <a class="text-white" href="https://github.com/quentintaranpino/nostrcheck-api-ts/"> <i class="fa-brands fa-github"></i></a>
    </div>
</footer>