<p>More information, installation instructions and documentation about the this software can be found at <a href='https://github.com/quentintaranpino/nostrcheck-api-ts/'>
    https://github.com/quentintaranpino/nostrcheck-api-ts/</a></p>