<div id="media-container" class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
</div>
<div id="sentinel"></div>
<div class="d-flex justify-content-center">
    <div class="spinner-border text-secondary mt-5" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let page = 1;
        const observer = new IntersectionObserver(async (entries, observer) => {
            entries.forEach(async entry => {
                const media = entry.target;
                if (entry.isIntersecting) {

                    if (media.id === 'sentinel' || page === 1) {
                        console.log('Intersecting', media.id)
                        const response = await fetch(`/api/v2/gallerydata?page=${page}`);
                        console.log(response)
                        page++;
                        const files = await response.json();
                        if (files.length === 0) {
                            observer.unobserve(document.getElementById('sentinel'));
                            const spinner = document.querySelector('.spinner-border');
                            spinner.remove();
                            return;
                        }
                        const mediaContainer = document.getElementById('media-container');
                        for (const file of files) {
                            const ext = file.split('.').pop();
                            let mediaElement;
                            const username = '<%= request.session.metadata.username %>'; 
                            if (ext==='webp' || ext==='gif' || ext==='jpg' || ext==='jpeg' ) {
                                mediaElement = document.createElement('img');
                                mediaElement.src = `media/${username}/${file}`;
                                mediaElement.style.height = "220px";
                                mediaElement.classList.add("rounded-3", "w-100", "object-fit-cover");
                            } else if (ext==='mp4' || ext==='mov' ) {
                                mediaElement = document.createElement('video');
                                mediaElement.src = `media/${username}/${file}`;
                                mediaElement.style.height = "220px";
                                mediaElement.classList.add("rounded-3", "w-100", "object-fit-cover");
                                mediaElement.setAttribute('muted', '');
                                mediaElement.setAttribute('playsinline', '');
                                mediaElement.setAttribute('autoplay', '');
                                mediaElement.setAttribute('loop', '');
                                mediaElement.setAttribute('poster', '/static/resources/loading-video.webp');
                                mediaElement.load();

                                // Autoplay video patch
                                const playPromise = mediaElement.play();
                                    if (playPromise !== undefined) {
                                        playPromise.then(() => {
                                            }).catch(error => {
                                                mediaElement.muted = true;
                                                mediaElement.play();
                                            });
                                        }

                                const videoObserver = new IntersectionObserver((entries) => {
                                    entries.forEach(entry => {
                                        if (!entry.isIntersecting) {
                                            entry.target.pause();
                                        }else{
                                            entry.target.play();
                                        }
                                    });
                                });
                                videoObserver.observe(mediaElement);

                            }else if (ext==='mp3' ) {
                                mediaElement = document.createElement('audio');
                                mediaElement.src = `media/${username}/${file}`;
                                mediaElement.classList.add("w-75", "h-75");
                                mediaElement.setAttribute('controls', '');
                            }

                            if (mediaElement) {
                                const mediaDiv = document.createElement('div');
                                mediaDiv.classList.add("col", "mb-0");
                                if (ext==='mp3' ) {
                                    mediaDiv.style.height = "220px";
                                    mediaDiv.style.background = "url('/static/resources/loading-music.webp') center center / cover no-repeat";
                                    mediaDiv.classList.add("rounded-3", "d-flex", "flex-column", "align-items-center", "justify-content-end", "pb-2");
                                }
                                mediaDiv.appendChild(mediaElement);
                                mediaContainer.appendChild(mediaDiv);
                            }
                        
                        }
                    observer.observe(document.getElementById('sentinel'));
                    }
                }
            });
        });
        observer.observe(document.getElementById('sentinel'));
    });
</script>