<link rel="stylesheet" href="/static/css/form.css">
<form class="form">
    <div class="mb-3">
        <label for="nostrPublicKey" class="mb-1 fw-bold">Nostr public key</label>
        <div class="input-group">
            <input type="text" class="form-control" id="nostrPublicKey" value="" readonly>
            <button class="btn btn-outline-secondary" type="button" id="sharePubkeyQR"><i class="fa-solid fa-qrcode"></i></button>
            <button class="btn btn-outline-secondary" type="button" id="copyPubkeyQR"><i class="fa-solid fa-copy"></i></button>
        </div>
        </div>
        <div class="mb-3">
        <label for="displayName" class="mb-1 fw-bold">Display name</label>
        <input type="text" class="form-control" id="displayName" value="">
        </div>
        <div class="mb-3">
        <label for="profilePic" class="mb-1 fw-bold">Profile picture</label>
        <div class="input-group">
            <input type="text" class="form-control" id="profilePic" value="">
            <button class="btn btn-outline-secondary" type="button" id="copyPubkeyQR"><i class="fa-solid fa-copy"></i></button>
            <button class="btn btn-outline-secondary" type="button" id="copyPubkeyQR"><i class="fa-solid fa-upload"></i></button>
        </div>  
        </div>
        <div class="mb-3">
        <label for="bannerImage" class="mb-1 fw-bold">Banner image</label>
        <div class="input-group">
            <input type="text" class="form-control" id="bannerImage" value="">
            <button class="btn btn-outline-secondary" type="button" id="copyPubkeyQR"><i class="fa-solid fa-copy"></i></button>
            <button class="btn btn-outline-secondary" type="button" id="copyPubkeyQR"><i class="fa-solid fa-upload"></i></button>
        </div> 
        </div>
        <div class="mb-3">
        <label for="nostrAddress" class="mb-1 fw-bold">Nostr address (NIP-05)</label>
        <div class="input-group">
            <input type="text" class="form-control" id="nostrAddress" value="">
            <div class="input-group-text">
                <div class="form-check form-switch">
                    <label for ="userSettings.nostrAddress.enableLightningRedirect" class="ps-2"><i class="fa-solid fa-bolt"></i></button></label>
                    <input  class="form-check-input" 
                            type="checkbox" 
                            value="checked"
                            name="userSettings.nostrAddress.enableLightningRedirect" 
                            id="userSettings.nostrAddress.enableLightningRedirect"
                            >
                </div>  
            </div>  

        </div>
        </div>
        <div class="mb-3">
        <label for="lightningAddress" class="form-label">Lightning address</label>
        <input type="text" class="form-control" id="lightningRedirect" value="">
        </div>
        <div class="mb-3">
        <label for="about" class="form-label">About</label>
        <textarea class="form-control" id="about" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
</form>