<% 
  const cfg = locals.domainConfig?.logger || {}; 
  const globalCfg = locals.globalConfig?.logger || {};
%>
<div id="settingsLogger">
  <h3 class="mt-4">Logging</h3>
  <form class="form mx-auto">
    <p>
      In this section, you can configure the log settings of your server. The log level determines the verbosity of the logs.
      For best performance, the recommended log level is <b>Warning</b>. If you want to see more detailed logs, you can change it to <b>Info</b> or <b>Debug</b>.
    </p>

    <%- include('field', {
      type: "select",
      name: "logger.minLevel",
      label: "Log level",
      description: "Set the minimum log level. Lower levels produce more verbose output.",
      value: cfg.minLevel,
      globalValue: globalCfg.minLevel,
      overridable: false,
      options: [
        { value: "2", label: "Debug" },
        { value: "3", label: "Info" },
        { value: "4", label: "Warning" },
        { value: "5", label: "Error" }
      ],
      alert: {
        type: "warning",
        icon: "fa-triangle-exclamation",
        message: "Changing the log level requires a server restart to take effect."
      }
    }) %>

    <%- include('field', {
      type: "checkbox",
      name: "logger.sendDM",
      label: "Send logs by DM",
      description: "If enabled, the server will send a DM with logs of severity warning or higher.",
      value: cfg.sendDM,
      globalValue: globalCfg.sendDM,
      overridable: false
    }) %>

    <%- include('field', {
      type: "text",
      name: "logger.sendPubkey",
      label: "Pubkey",
      description: "Specify the pubkey to receive logs. Defaults to the server pubkey if left empty.",
      value: cfg.sendPubkey,
      globalValue: globalCfg.sendPubkey,
      overridable: false
    }) %>

    <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
      <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
    </div>
  </form>
</div>
