<div id ="settingsLookAndFeel">
    <h3 class="mt-4">Personalization</h3>
    <form class="form mx-auto">
      <p> In this section, you can personalize the server color scheme and logo according to your specific requirements. 
      </p>
      <label for="lookandfeel.server.logo" class="mt-1 mb-1 fw-bold disabled">Logo</label>
      <p>Upload a new logo for your server. For better results, use an image with transparent background. </p>
      <div class="row mx-auto mb-1">
        <div class="col-12 col-md-9">
            <input type="file" id="lookandfeel.server.logo" name="lookandfeel.server.logo" class="form-control" accept="image/*">
        </div>
        <div class="col-4 col-md-3 mt-2 mt-md-0">
          <input type='text' class="d-none" id='lookandfeel.server.logo.default' name='lookandfeel.server.logo.default' value='false'>
          <button class="form-control btn btn-md btn-primary" type="button" onclick="updateLogo(true)">Restore</button>            
      </div>
      </div>
      <label for="lookandfeel.server.frontendBackground" class="mt-3 mb-1 fw-bold">Dynamic background</label>
      <p>Choose the colors for the dynamic background.</p>
      <div class="row mx-auto mb-1">
        <div class="col-12 col-md-4 pb-4 mb-4">
          <input id="lookandfeel.server.colors.primaryColor" name="lookandfeel.server.colors.primaryColor" type="color" class="form-control position-static"><span class="ms-2">Primary</span>
        </div>
        <div class="col-12 col-md-4 pb-4 mb-4">
        <input id= "lookandfeel.server.colors.secondaryColor" name="lookandfeel.server.colors.secondaryColor" type="color"  class="form-control position-static "><span class="ms-2">Secondary</span>
        </div>
        <div class="col-12 col-md-4 pb-4 mb-4">
          <input id="lookandfeel.server.colors.tertiaryColor" name="lookandfeel.server.colors.tertiaryColor" type="color"  class="form-control position-static "><span class="ms-2">Tertiary</span>
        </div>
      </div>
      <div class="mt-3">
        <div class="col-12 col-md-4 mb-2">
          <label for="lookandfeel.server.colors.orientation" class="mb-2 fw-bold">Orientation</label>
          <select id="lookandfeel.server.colors.orientation" name="lookandfeel.server.color.orientation" class="form-select">
            <option value="to top">To Top</option>
            <option value="to right">To Right</option>
            <option value="to bottom">To Bottom</option>
            <option value="to left">To Left</option>
            <option value="to top left">To Top Left</option>
            <option value="to top right">To Top Right</option>
            <option value="to bottom left">To Bottom Left</option>
            <option value="to bottom right">To Bottom Right</option>
          </select>
        </div>
          <div class="col-12">
              <div id="lookandfeel.server.colors.gradientbar" class="gradient-bar"></div>
          </div>
      </div>
      <div class="row mx-auto mt-3 ">
        <label for="lookandfeel.server.colors.theme" class="mt-2 mb-1 fw-bold">Dynamic background themes</label>
        <div class="col-12 col-md-9">
          <select id="lookandfeel.server.colors.theme" name="lookandfeel.server.colors.theme" class="form-select mt-2" onchange="handleThemeChange(this,'<%= JSON.stringify(request.body.settingsLookAndFeelThemes) %>')">
            <option value=""></option>
            <% for(const key in request.body.settingsLookAndFeelThemes) { %>
              <option value="<%= key %>"><%= key %></option>
            <% } %>
          </select>
        </div>
        <div class="col-4 col-md-3 mt-2 mt-md-0">
          <input type='text' class="d-none" id='lookandfeel.server.colors.default' name='server.colors.default' value='false'>
          <button class="form-control btn btn-md mt-1 btn-primary" type="button" onclick="updateTheme('','','','','','','',true)">Restore</button>            
        </div>
      </div>  
      <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
        <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveLookAndFeel()">Save</button>
      </div>
    </form>
  </div>