<div id="settingsPayments">
    <h3 class="mt-4">Security</h3>
    <form class="form mx-auto">
        <p> In this section, you can configure the security settings of your server.
        </p>
        <div class="alert alert-warning mt-3" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i> <b>Change this only if you know what you are doing.</b> After changing security settings, you need to <b>restart the server</b> to apply the changes.
        </div>
        <label for="security.maxDefaultRequestMinute" class="mt-2 mb-1 fw-bold">Default request minute</label>
        <p>This value is used for the default allowed request minute on all endpoints.
        </p>
        <div class="col-12 col-md-4">
            <input  type="number" 
                    id="security.maxDefaultRequestMinute" 
                    name="security.maxDefaultRequestMinute" 
                    class="form-control" 
                    value="<%= request.body.settingsSecurity['maxDefaultRequestMinute'] %>" 
                    placeholder="ex. 60" 
                    step="10"
                    required
                    >
        </div>
        <label for="security.media.maxUploadsMinute" class="mt-2 mb-1 fw-bold">Max uploads per minute</label>
        <p>This value is used for the maximum allowed uploads per minute on all media endpoints.
        </p>
        <div class="col-12 col-md-4">
            <input  type="number" 
                    id="security.media.maxUploadsMinute" 
                    name="security.media.maxUploadsMinute" 
                    class="form-control" 
                    value="<%= request.body.settingsSecurity['media']['maxUploadsMinute'] %>" 
                    placeholder="ex. 10" 
                    step="1"
                    required
                    >
        </div> 
        <label for="security.register.maxRegisterDay" class="mt-2 mb-1 fw-bold">Max register per day</label>
        <p>This value is used for the maximum allowed register per day.
        </p>
        <div class="col-12 col-md-4">
            <input  type="number" 
                    id="security.register.maxRegisterDay" 
                    name="security.register.maxRegisterDay" 
                    class="form-control" 
                    value="<%= request.body.settingsSecurity['register']['maxRegisterDay'] %>"
                    placeholder="ex. 10" 
                    step="1"
                    required
                    >
        </div>
        <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
            <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
        </div>
    </form>
  </div>